* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
}

nav {
  display: flex;
  height: 69px;
  justify-content: space-between;
}

.logo {
  float: left;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

li {
  color: beige;
  text-decoration: underline;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  position: relative;
  text-align: center;
  color: beige;
}

.header-img {
  height: 700px;
  width: 1200px;
  opacity: 0.9;
}

.header-content {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* section tea of the month */
.section-container {
  display: flex;
  /* flex-direction: column; */
  color: beige;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-types {
  text-align: center;
  color: beige;
  margin-top: 100px;
}

.col {
  flex: 0 0 calc(33.33% - 30px);
  margin: 15px;
}

p {
  text-align: center;
}

/* section location */
.container {
  margin: 80px auto;
  height: 500px;
  position: relative;
  color: beige;
  text-align: center;
}

.location {
  position: absolute;
  top: 10%;
  left: 45%;
}

.location-container-1 {
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: black;
  width: 300px;
  opacity: 1;
}

.location-container-2 {
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: black;
  width: 300px;
  opacity: 1;
}

.location-container-3 {
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 70%;
  background-color: black;
  width: 300px;
  opacity: 1;
}


/* footer section */
footer {
  height: 200px;
  color:beige;
  text-align: center;;
}
